<!-- Features section -->
<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#smartphone` | relURL }}"/>
        </svg>
        <h2 class="h2">Easy-to-use interface <small class="d-none">📱</small></h2>
        <p>Epilog comes with a Bluetooth-connected app that is incredibly easy to set up and use to monitor seizure events and determine their end time and make a data-driven decision.</p>
    </div>

    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#activity` | relURL }}"/>
        </svg>
        <h2 class="h2">Robust performance <small class="d-none">🔍</small></h2>
        <p>Epilog uses state-of-the-art machine learning strategies that are on par with other products on the market and with current literature.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#layers` | relURL }}"/>
        </svg>
        <h2 class="h2">Adaptability <small class="d-none">🧩</small></h2>
        <p>Epilog's flexible headband and use of combs around the electrodes ensures that our device will work for a variety of hair types and head sizes.</p>
    </div>

</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#cpu` | relURL }}"/>
        </svg>
        <h2 class="h2">Reliable signal processing <small class="d-none">🔌</small></h2>
        <p>Epilog's comprehensive circuitry ensures proper signal processing and safety, reducing chances of faulty detections or mechanical failures.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="4em" height="4em"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#6528e0" d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
        <h2 class="h2">Rapid application <small class="d-none">⏱️</small></h2>
        <p>Epilog can be applied in under 30 seconds due to our proprietary gel case technology. Just pop it back into the case after using and it's ready for use next time.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#settings` | relURL }}"/>
        </svg>
        <h2 class="h2">Fine-tuning <small class="d-none">⚙️</small></h2>
        <p>The seizure detection algorithms to prevent status epilepticus from occurring can be fine-tuned for each user's needs and medical background with a press of a button.</p>
    </div>

</div>
